body{
    font-family: sans-serif;
    align-items: center;
    position: relative;
    background: url(../assets/img.jpg);
    background-size: cover;
    
}
h2{
    color:white;
    letter-spacing: 6px;
    margin-top: 200px;
    margin-left: 450px;
}
.clock{
    display: flex;
    margin-left: 300px;
}
.clock div{
    margin: 10px;
}
.clock span{
   
    width: 150px;
    height: 140px;
    background-color: rosybrown;
    font-size: 30px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    box-shadow: 1px 1px;
    border-radius: 1px;


}

.clock .text{
    text-transform: uppercase;
    font-size: 20px;
    height: 30px;
    background-color:hotpink;
    color:white;
    border-radius: 0;

}
 #ampm{
    background-color: gainsboro;
    color: black;
    position: absolute;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 0;
    bottom: 60px;
    margin-bottom: -50px;
}
@media only screen and (min-width:0px) and (max-width:720px){
    body{
        background-size: cover;
        top: 80px;
        background-repeat: no-repeat;
        height: 170px;
    
        
    }

    h2{
      
        margin-top: -10px;
        margin-left: 120px;
        font-size: 15px;
    }
    .clock{
        display: flex;
        margin-left: 100px;

    }
    .clock span{
        width: 60px;
        height: 70px;
        font-size: 20px;  
    }
    
    .clock .text{
   
        font-size: 10px;

    }
     #ampm{
   
        font-size: 20px;
        
        top: 100px;
    }
}
@media only screen and (min-width:722px) and (max-width:990px){
    body{
        background-size: cover;
        top: 80px;
        background-repeat: no-repeat;
        
    }

    .clock span{
        width: 80px;
        height: 90px;
        font-size: 20px;  
    }
    
    .clock .text{
   
        font-size: 10px;

    }
     #ampm{
   
        font-size: 20px;
        
        bottom: 10px;
    }
}